# Compiled Object files
*.slo
*.lo
*.o
*.out
*.1
*.gch
*.exe
*.ilk
*.pdb
clientTest

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
# *.a

#dependency files
*.d

#test resources
# *.txt
