[submodule "googletest"]
	path = hazelcast/test/googletest
	url = https://github.com/google/googletest.git
[submodule "external/include/asio"]
	path = external/include/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "external/include/easyloggingpp"]
	path = external/include/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
