# Compiled Object files
*.slo
*.lo
*.o
*.out
*.1
*.gch
*.exe
*.ilk
*.pdb
*~
build*/*
cpp/*
.DS_Store

# IDE configs
.idea/*
.vscode/

# Compiled Dynamic libraries
*.so
*.dylib
.DS_Store

# Compiled Static libraries
*.lai
*.la
# *.a

# Dependency files
*.d

# Test resources
*.d
tags

# Compiled binaries and classes
Release*/*

# Java
*.iml
java/.idea
java/target/*
*.jar

# Clangd
.clangd
compile_commands.json

# Doxygen generated docs
docs/

# Log files
testLog.txt
*.log

