body {
  font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  min-width: 1100px;
}
#sitebar {
  background: #113847;
  padding: 14px 20px;
  color: #fff;
  border-top: 6px solid #ff5f00;
}
#sitebar p {
  text-align: right;
  margin-bottom: 0;
}
#sitebar a {
  color: #fff;
  text-decoration: none;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
#header {
  background: #0d2a35;
  background: -moz-linear-gradient(top, #0d2a35 0%, #0d2a35 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d2a35), color-stop(100%, #0d2a35));
  border-bottom: 3px solid #0d2a35;
  display: block;
  position: relative;
  padding: 10px 20px;
}
#sidebar {
  border-right: 1px solid #cccccc;
  float: left;
  padding: 27px 30px 15px;
  width: 300px;
  display: inline-block;
  height: 95%;
  background-color: #F0EEEE;
}
#sidebar input#search {
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 4px 0;
  width: 100%;
}
#sidebar ol {
  counter-reset: item;
}
#sidebar li {
  display: block;
}
#sidebar li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}
#sidebar #toc li {
  font-size: 14px;
  margin: 5px 0px;
}
#sidebar #toc li a {
  color: #555;
  text-decoration: none;
}
#sidebar #toc > ol > li {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
#sidebar #toc > ol > li li {
  font-size: 10px;
  font-weight: normal;
  margin-left: 15px;
}
#sidebar #toc > ol > li li a {
  color: #666;
}
#sidebar #links {
  margin-top: 24px;
  margin-bottom: 10px;
  border-top: 1px dotted #ddd;
  padding-top: 10px;
}
#content {
  border-left: 1px solid #cccccc;
  color: #444;
  float: left;
  margin-left: -1px;
  padding: 10px 40px 80px 30px;
  width: 700px;
  display: inline-block;
}
#content h1 {
  border-bottom: 2px solid #ccc;
  color: #113847;
  font-size: 33px;
  font-weight: bold;
  margin: 30px 0 15px 0;
  padding-bottom: 7px;
}
#content h2 {
  border-bottom: 2px solid #ccc;
  color: #113847;
  font-size: 29px;
  font-weight: normal;
  margin: 30px 0 15px 0;
  padding-bottom: 7px;
}
#content h3 {
  border-bottom: 2px solid #ccc;
  color: #113847;
  font-size: 23px;
  font-weight: normal;
  margin: 30px 0 15px 0;
  padding-bottom: 7px;
}
#content h4 {
  border-bottom: 2px solid #ccc;
  font-size: 19px;
  font-weight: normal;
  margin: 30px 0 15px 0;
  padding-bottom: 7px;
}
#content h5,
#content h6 {
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  font-weight: normal;
  margin: 30px 0 15px 0;
  padding-bottom: 7px;
}
#content p {
  margin: 15px 0;
}
#content a {
  color: #d08708;
  text-decoration: none;
}
#content a:hover {
  text-decoration: underline;
}
#content ul,
#content ol {
  list-style: disc;
  margin-left: 30px;
}
#content ul li,
#content ol li {
  margin: 5px 0;
}
#content ol {
  list-style: decimal;
}
#content pre {
  margin: 15px 0;
}
#content code {
  overflow: auto;
}
#content img {
  max-width: 100%;
}
#content table {
  width: 100%;
  margin: 20px auto;
}
#content table th {
  color: #555;
  background: #efefef;
  padding: 4px;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
}
#content table th:first-child {
  border-left: 0;
}
#content table td {
  padding: 4px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
#content table td:first-child {
  border-left: 0;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #FF5F00;
  color: #fff;
}
