name: Code coverage report to Codecov

on:
  push:
    branches:
      - master

jobs:
  coverage:
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    name: Create and upload coverage
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/coverage-report
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          BOOST_VERSION: 1.89.0
          THRIFT_VERSION: 0.13.0
          RUN_TESTS: true
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
          AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_HAZELCAST_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          HZ_TEST_AWS_INSTANCE_PRIVATE_IP: ${{ secrets.HZ_TEST_AWS_INSTANCE_PRIVATE_IP }}

      - name: Publish on Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.info
          disable_search: 'true'
          fail_ci_if_error: true
