name: Create release branch

on:
  workflow_dispatch:
    inputs:
      BRANCH_NAME:
        description: The source branch to create a release branch from
        required: true
      NEXT_VERSION:
        description: New version to set in the source branch (e.g. 5.6.0)
        required: true

jobs:
  make-branch:
    name: Create release branch from `${{ inputs.BRANCH_NAME }}`
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.BRANCH_NAME }}

      - name: Determine project version
        id: project_version
        run: |
          echo "version=$(jq --raw-output '.version' vcpkg.json)" >> ${GITHUB_OUTPUT}

      - name: Create `${{ steps.project_version.outputs.version }}` branch
        run: |
          git checkout -b ${{ steps.project_version.outputs.version }}
          git push origin ${{ steps.project_version.outputs.version }}

      # https://github.com/madhead/semver-utils/releases/tag/v4.3.0
      - uses: madhead/semver-utils@36d1e0ed361bd7b4b77665de8093092eaeabe6ba
        id: parse-version
        with:
          version: ${{ steps.project_version.outputs.version }}

      - name: Compute Z-Branch name
        if: steps.parse-version.outputs.patch == '0'
        id: compute-z-branch-name
        run: |
          echo "name=${{ steps.parse-version.outputs.major }}.${{ steps.parse-version.outputs.minor }}.z" >> ${GITHUB_OUTPUT}

      - name: Create `${{ steps.compute-z-branch-name.outputs.name }}` branch
        if: steps.parse-version.outputs.patch == '0'
        run: |
          git checkout -b ${{ steps.compute-z-branch-name.outputs.name }}
          git push origin ${{ steps.compute-z-branch-name.outputs.name }}

      - if: steps.parse-version.outputs.patch == '0'
        uses: hazelcast/hazelcast-cpp-client/.github/actions/update-project-version@master
        with:
          NEXT_VERSION: ${{ steps.parse-version.outputs.inc-patch }}

  update-version:
    name: Update next version in `${{ inputs.BRANCH_NAME }}` to `${{ inputs.NEXT_VERSION }}`
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.BRANCH_NAME }}

      - uses: hazelcast/hazelcast-cpp-client/.github/actions/update-project-version@master
        with:
          NEXT_VERSION: ${{ inputs.NEXT_VERSION }}

      - name: Create milestone
        run: |
            gh api \
              /repos/${GITHUB_REPOSITORY}/milestones \
              --field title='${{ inputs.NEXT_VERSION }}'
        env:
            GH_TOKEN: ${{ github.token }}
