name: nightly-Ubuntu-i386

on:
  workflow_dispatch:
    inputs:
      run_tests:
        type: boolean
        description: Enable/Disable test stage
        default: true
  schedule:
    - cron: '0 22 * * *'

jobs:
  nightly-Ubuntu-i386:
    strategy:
      fail-fast: false
      matrix:
        boost:
          - version: 1.71.0
          - version: 1.76.0
        build_type:
          - type: Debug
            warn_as_err: ON
          - type: Release
            warn_as_err: OFF

        shared_libs:
          - toggle: OFF
            name: Static
          - toggle: ON
            name: Shared

        with_openssl:
          - toggle: OFF
            name: 'noSSL'
          - toggle: ON
            name: 'SSL'

    runs-on: ubuntu-latest
    container:
      image: i386/ubuntu
      options: --privileged

    name: >-
      Ubuntu-i386
      (${{ matrix.build_type.type }}, ${{ matrix.shared_libs.name }}, ${{matrix.boost.version}},${{ matrix.with_openssl.name }})

    steps:
      - name: Install Necessary Packages
        run: |
          apt-get update
          apt-get install -y build-essential cmake curl git libssl-dev net-tools gdb curl

      - name: Make sure the target architecture is 32 bit
        run: |
          echo 'int main() { return sizeof(void*) != 4; }' > test.c
          gcc test.c -oa
          ./a
          rm a test.c

      - uses: actions/checkout@v1

      - name: Read Java Config
        run: cat ${{ github.workspace }}/.github/java-config.env >> $GITHUB_ENV

      - name: "Setup JDK"
        uses: "actions/setup-java@v4"
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}

      - name: Download hazelcast-enterprise-tests.jar
        run: |
          curl -H "Authorization: token ${{ secrets.GH_TOKEN }}" https://raw.githubusercontent.com/hazelcast/private-test-artifacts/data/certs.jar > hazelcast-enterprise-5.3.7-tests.jar

      - name: Install Boost
        run: |
          ./scripts/install-boost.sh ${{matrix.boost.version}}

      - name: Install Thrift
        run: |
          ./scripts/install-thrift.sh 0.13.0

      - name: Build & Install
        env:
          BUILD_DIR: build
          INSTALL: ON
          WARN_AS_ERR: ${{ matrix.build_type.warn_as_err }}
        run: |
          ./scripts/build-unix.sh                                         \
              -DCMAKE_BUILD_TYPE=${{ matrix.build_type.type }}            \
              -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/destination  \
              -DBUILD_SHARED_LIBS=${{ matrix.shared_libs.toggle }}        \
              -DWITH_OPENSSL=${{ matrix.with_openssl.toggle }}            \
              -DBUILD_TESTS=ON                                            \
              -DBUILD_EXAMPLES=OFF

      - name: Test
        if: ${{ inputs.run_tests || github.event_name == 'schedule' }}
        env:
          BUILD_DIR: build
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          HZ_TEST_AWS_INSTANCE_PRIVATE_IP: ${{ secrets.HZ_TEST_AWS_INSTANCE_PRIVATE_IP }}
        run: |
          ulimit -c unlimited
          echo 'core' > /proc/sys/kernel/core_pattern
          echo '1' > /proc/sys/kernel/core_uses_pid

          ./scripts/test-unix.sh

      - name: Verify Installation
        env:
          BUILD_DIR: build-examples
        run: |
          ./scripts/verify-installation-unix.sh                          \
              -DCMAKE_PREFIX_PATH=${{ github.workspace }}/destination    \
              -DWITH_OPENSSL=${{ matrix.with_openssl.toggle }}
