name: nightly-macOS-x86_64

on:
  workflow_dispatch:
    inputs:
      run_tests:
        type: boolean
        description: Enable/Disable test stage
        default: true
  schedule:
    - cron: '0 0 * * *'

jobs:
  nightly-macOS-x86_64:
    strategy:
      fail-fast: false
      matrix:
        boost:
            - version: 1.71.0
            - version: 1.76.0

        build_type:
          - Debug
          - Release

        shared_libs:
          - toggle: OFF
            name: Static
          - toggle: ON
            name: Shared

        with_openssl:
          - toggle: OFF
            name: 'noSSL'
          - toggle: ON
            name: 'SSL'

    runs-on: macos-latest

    name: >-
      macOS-x86_64
      (${{ matrix.build_type }}, ${{ matrix.shared_libs.name }}, ${{ matrix.with_openssl.name }}, ${{matrix.boost.version}})

    env:
      OPENSSL_ROOT_DIR: /usr/local/opt/openssl/

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/build-test/macos-x86_64
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          BOOST_VERSION: ${{ matrix.boost.version }}
          BUILD_TYPE: ${{ matrix.build_type }}
          SHARED_LIBS_TOGGLE: ${{ matrix.shared_libs.toggle }}
          OPENSSL_TOGGLE: ${{ matrix.with_openssl.toggle }}
          RUN_TESTS: ${{ inputs.run_tests || github.event_name == 'schedule' }}
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          HZ_TEST_AWS_INSTANCE_PRIVATE_IP: ${{ secrets.HZ_TEST_AWS_INSTANCE_PRIVATE_IP }}

      - name: Verify Installation
        env:
          BUILD_DIR: build-examples
        run: |
          ./scripts/verify-installation-unix.sh                          \
              -DCMAKE_PREFIX_PATH=${{ github.workspace }}/destination    \
              -DWITH_OPENSSL=${{ matrix.with_openssl.toggle }}
