name: nightly-Ubuntu-i386

on:
  workflow_dispatch:
    inputs:
      run_tests:
        type: boolean
        description: Enable/Disable test stage
        default: true
  schedule:
    - cron: '0 22 * * *'

jobs:
  nightly-Ubuntu-i386:
    strategy:
      fail-fast: false
      matrix:
        boost:
          - version: 1.71.0
          - version: 1.76.0
        build_type:
          - Debug
          - Release

        shared_libs:
          - toggle: OFF
            name: Static
          - toggle: ON
            name: Shared

        with_openssl:
          - toggle: OFF
            name: 'noSSL'
          - toggle: ON
            name: 'SSL'

    runs-on: ubuntu-latest
    container:
      image: i386/ubuntu
      options: --privileged

    name: >-
      Ubuntu-i386
      (${{ matrix.build_type }}, ${{ matrix.shared_libs.name }}, ${{matrix.boost.version}},${{ matrix.with_openssl.name }})

    steps:
        # Deliberately uses an old version because i386 is stuck on an outdated version of Javascript
      - uses: actions/checkout@v1

      - uses: ./.github/actions/build-test/ubuntu-i386
        with:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          BOOST_VERSION: ${{ matrix.boost.version }}
          THRIFT_VERSION: 0.13.0
          BUILD_TYPE: ${{ matrix.build_type }}
          SHARED_LIBS_TOGGLE: ${{ matrix.shared_libs.toggle }}
          OPENSSL_TOGGLE: ${{ matrix.with_openssl.toggle }}
          RUN_TESTS: ${{ inputs.run_tests || github.event_name == 'schedule' }}
          HAZELCAST_ENTERPRISE_KEY: ${{ secrets.HAZELCAST_ENTERPRISE_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          HZ_TEST_AWS_INSTANCE_PRIVATE_IP: ${{ secrets.HZ_TEST_AWS_INSTANCE_PRIVATE_IP }}

      - name: Verify Installation
        env:
          BUILD_DIR: build-examples
        run: |
          ./scripts/verify-installation-unix.sh                          \
              -DCMAKE_PREFIX_PATH=${{ github.workspace }}/destination    \
              -DWITH_OPENSSL=${{ matrix.with_openssl.toggle }}
