name: Create release branch

on:
  workflow_dispatch:
    inputs:
      BRANCH_NAME:
        description: The source branch to work with, if not implicit
        required: false
      NEW_VERSION:
        description: New version to set in the source branch (e.g. 5.6.0)
        required: true

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      branch_name: ${{ inputs.BRANCH_NAME || github.ref_name }}
    steps:
      - run: exit 0

  make-branch:
    name: Make branch
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ needs.prepare.outputs.branch_name }}

      - name: Determine project version
        id: project_version
        run: |
          echo "version=$(jq --raw-output '.version' vcpkg.json)" >> ${GITHUB_OUTPUT}

      - name: Create `${{ steps.project_version.outputs.version }}` branch
        run: |
          git checkout -b ${{ steps.project_version.outputs.version }}
          git push origin ${{ steps.project_version.outputs.version }}

  update-version:
    name: Update version in `${{ needs.prepare.outputs.branch_name }}` to `${{ inputs.NEW_VERSION }}`
    runs-on: ubuntu-latest
    needs:
      - prepare
    env:
        NEW_VERSION: ${{ inputs.NEW_VERSION }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ needs.prepare.outputs.branch_name }}

      - name: Update `vcpkg.json`
        run: |
            cat <<< $(jq --arg ver "${NEW_VERSION}" '.version = $ver' vcpkg.json) > vcpkg.json

      - name: Update `CMakeLists.txt`s
        run: |
            find . -name 'CMakeLists.txt' | \
                xargs perl -0777 -i -pe 's/(project\s*\([^)]*?\bVERSION\s+)\S+/\1$ENV{NEW_VERSION}/s'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: Update_version_to_${{ inputs.NEW_VERSION }}_run_${{ github.run_id }}
          title: Update development version to `${{ inputs.NEW_VERSION }}`
          body: ""
